<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DineThenFly - On the ROCs menu</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <section id="headerofsite">
        <h1>DineThenFly</h1>
    </section>
    <section>
        <h2>On the ROCs - Menu</h2>
        <p>Source: Yelp photo from Jeff P. Up to date as of 4/14/2023</p>
        <ul id="menuitems">

        </ul>
    </section>
    <script>
        fetch('http://127.0.0.1:5000/api/ontherocsmenu')
            .then(response => response.json())
            .then(menu => {
                const groupedByCategory = {}; // This is a list of categories
                for (const item of menu) { // Iterates over each menu item
                    if (!groupedByCategory[item.category]) //groupedByCategory[item.category] is an entry named after a category (for example: All Day Breakfast)
                        groupedByCategory[item.category] = []; // Makes an array for a category that does not exist
                    groupedByCategory[item.category].push(item); // Adds item to correct entry
                }
                console.log(groupedByCategory);
            });
    </script>
<!--    <script>-->
<!--        fetch('http://127.0.0.1:5000/api/ontherocsmenu')-->
<!--            .then(response => response.json())-->
<!--            .then(menu => {-->
<!--                const menuitemlist = document.getElementById('menuitems'); // Finds empty tbody in HTML by id-->
<!--                for(var i = 0; i < menu.length; i++)-->
<!--                {-->
<!--                    const menuitem = document.createElement('li');-->
<!--                    menuitem.classList.add('menuitem');-->
<!--                    menuitem.innerHTML = `-->
<!--                <p>${menu[i].name}</p>-->
<!--                <p>${menu[i].category}</p>-->
<!--                <p>$${menu[i].price}</p>-->
<!--            `;-->
<!--                    menuitemlist.appendChild(menuitem);-->
<!--                }-->
<!--            })-->
<!--    </script>-->
</body>
</html>