<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DineThenFly - On the ROCs menu</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <section id="headerofsite">
        <h1>DineThenFly</h1>
    </section>
    <script src="../static/menuitemhelperfunction.js">
    </script>
    <section id="menubody">
        <script>
            restaurantTitle('On the ROCs', 'Yelp photo from Jeff P. Up to date as of 4/14/2023');
        </script>
        <ul id="menuitems">

        </ul>
    </section>
    <script>
        menuItems('http://127.0.0.1:5000/api/menus/ontherocs');
    </script>
</body>
</html>