<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DineThenFly - Restaurants</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<section id="headerofsite">
    <h1>DineThenFly</h1>
</section>
<section id="restaurants">
    <h2>Greater Rochester International Airport</h2>
    <ul>
        <li>
            <h3>Dunkin'</h3>
            <p>Post-security, main food court</p>
            <p>4:30am-7pm daily</p>
            <a href="https://www.dunkindonuts.com/en/menu">Menu</a>
        </li>
        <li>
            <h3>On the ROCs</h3>
            <p>Post-security, near Concourse B</p>
            <p>10am-7pm Daily</p>
            <a href="ontherocs.html">Menu</a>
        </li>
    </ul>
</section>
</body>