<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DineThenFly - On the ROCs menu</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <section id="headerofsite">
        <h1>DineThenFly</h1>
    </section>
    <section>
        <h2>Taste of Rochester - Menu</h2>
        <p>Source: Google restaurant menu photo from Ezra Rubi. Circa 2020</p>
        <ul id="menuitems">

        </ul>
    </section>
    <script src="../static/menuitemhelperfunction.js">
    </script>
    <script>
        menuItems('http://127.0.0.1:5000/api/menus/tasteofrochester');
    </script>
</body>
</html>